name: Package Update


# Scheduled runs are temporarily disabled, because right now they cause
# an eternal cycle of dependency updates
on:
  workflow_dispatch:
    inputs:
      dryrun:
        type: boolean
        default: false

jobs:
  PackageUpdate:
    name: Package Update
    uses: 51Degrees/common-ci/.github/workflows/nightly-package-update.yml@main
    with:
      repo-name: ${{ github.event.repository.name }}
      org-name: ${{ github.event.repository.owner.login }}
      dryrun: ${{ inputs.dryrun || false }}
    secrets:
      token: ${{ secrets.ACCESS_TOKEN }}
